<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file %>
    <%= form.text_field :file, id: :photo_file %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc, id: :photo_desc %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :photo_user %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :photo_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
