<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @photo.file %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @photo.desc %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @photo.date %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
